/*footer inicio*/
.footer--followus{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;

}

.footer--logos_links{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.instagram-logo{
    width: 2%;
    margin: auto;

}

.youtube-logo{
    width: 3%;
    margin: auto;
}

.footer--text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;

}


/*footer about*/
.footer--aboutme_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

/*footer gallery*/

.footer--gallery_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
    margin-top: 20px;
    text-align: center;

}

/*footer contact*/
.footer--contact_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
    margin-top: 20px;
    text-align: center;

}

/*footer shop*/
.footer--shop_text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
    margin-top: 20px;
    text-align: center;

}